<!--{% if latest_question_list %}
<ul>
    {% for question in latest_question_list %}
    <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>No polls are available.</p>
{% endif %}
-->

<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>CIMD Onboarding</title>
    {% load static %}
    <script src="{% static 'polls/polls.js' %}"></script>
    <link rel="stylesheet" href="{% static 'polls/polls.css' %}">
</head>

<form name="form" action='http://127.0.0.1:8000/onboarding/' onsubmit="return postForm()" method="post">
    <!--Submit function here-->
    <p>Nom</p>
    <input type="text" name="nom" required="required" pattern=".{2,}">
    <p>Prenom</p>
    <input type="text" name="prenom" required="required" pattern=".{2,}">
    <p>Date de naissance</p>
    <input type="date" name="bday" required="required">
    <p>Email</p>
    <input type="email" name="mail" required="required" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"> <br><br>
    <input type="submit">
</form>
<button onclick="location.href = 'http://127.0.0.1:8000/onboarding';">Next step</button>