<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>CIMD Onboarding</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static 'onboarding/onboarding.js' %}"></script>
    <link rel="stylesheet" href="{% static 'onboarding/onboarding.css' %}">
</head>

<body>
    <script type="text/javascript">
        window.CSRF_TOKEN = "{{ csrf_token }}";
    </script>
    <video id="v"></video>
    <canvas id="canvas" style="display:none;"></canvas>
    <img src='' id='photo'><br>
    <button id="take">Take a photo</button>

    <!-- Upload form. Note enctype attribute! -->
    <form method='post' enctype='multipart/form-data' id="form">
        {% csrf_token %}
        <input type="file" id="image" name="image" style="display: none">
        <p><input type="submit" value="Upload" id="subButton" /></p>
    </form>
    <div id="Template">{% include "onboarding/liste.html" %}</div>

    <br>
    <button onclick="location.href = 'http://127.0.0.1:8000/';">Return to home page</button>

</body>

</html>