<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>CIMD Onboarding</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static 'onboarding/onboarding.js' %}"></script>
    <link rel="stylesheet" href="{% static 'onboarding/onboarding.css' %}">
</head>

<body>
    <h2 style="margin-top: 20px">Welcome to CIMD's onboarding wizard</h2>
    <button style="margin-bottom: 50px" onclick="window.location='/onboarding/doc_scan/';">Create new user</button>
    <div id="Template">{% include "onboarding/liste.html" %}</div>

    <br>
    <a href="{% url 'home:index' %}"><button >Return to home page</button></a>
    <script type="text/javascript">
        window.CSRF_TOKEN = "{{ csrf_token }}";

    </script>
</body>

</html>